<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenxu.audio">

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

<!--    1.051-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="28" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!-- Android 11+ 全文件访问 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:label="Audio"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- MainActivity -->
        <activity
            android:name="com.chenxu.audio.MainActivity"
            android:label="Audio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".RecordingService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

    </application>
</manifest>
